@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/* -----base---- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&auto=format&fit=crop&w=2551&q=80');
  background-size: cover;
}

.container {
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -----/base---- */


/* -----navbar----- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 20px ;
}

.nav__brand {
  color: lightgray;
  font-size: 1.5rem;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 1.5rem;
  margin: 0 10px;
}

.nav__item a {
  text-decoration: none;
  color:  lightgray;
  outline: none;
}

/* -----/navbar----- */



/* -----home----- */

.home {
  display: flex;

}

.home__heading-cta {
  width: 50%;
  font-weight: 300;
  color: lightcoral;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form__input,
.form__button {
  width: 300px;
  margin-top: 10px;
  font-size: 1.5rem;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.form__button {
  background-color: mediumseagreen;
  color: mediumaquamarine;
}

img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

/* -----/home----- */



/* -----footer----- */

.footer {
  padding: 0 20px 5px 20px;
  color: white;
}

/* -----/footer----- */
